<h1>To Dos</h1>

<ul>
  <li>Show financials - summary of the selected year on the clients page. Full view on a financials page</li>
  <li>Show a summary of tickets by clicking on a row in the table in this page. Do not leave the view</li>
  <li>Add Date Filter</li>
</ul>
