<h1>To Dos</h1>

<ul>
  <li>When a user is created, create a corresponding client</li>
  <li>Show untagged tickets as a sub-heading on tickets</li>
  <li>Show a summary of tickets by clicking on a row in the table in this page. Do not leave the view</li>
</ul>
