<div id="ticket-container" data-tickets="<%= tickets.as_json(include: {ticket_tags: {methods: :tag_name}, ticket_line_items: {} }).to_json %>" data-clients="<%= current_user.clients.as_json(methods: :full_name).to_json %>"></div>
