@import "bootstrap";

body {
  padding-top: 5rem;
}

.gray-background {
  background-color: whitesmoke !important
}

.top-padding-with-radius {
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

a.accordian-link {
  color: white;
  display: block;
}

.lighten_25 {
  opacity: 0.75;
}

.lighten_50 {
  opacity: 0.50;
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.white {
  color: white;
}

.small-list {
  margin: 0px;
  line-height: 1;
}

.bottom-margin {
  margin-bottom: 10px;
}

p.notification {
  padding: 10px;
}
